@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links div > a:hover{
  border-bottom: 2px solid blue;
}


.flashcard {
  transition: all .4s linear;
  transform-style: preserve-3d;
  height: 350px;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  left: 0;
  padding: 0 20px;
}

.back {
  transform: rotateY(180deg);
}

.flashcard:hover {
  transform: rotateY(180deg);
}